<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body> 
    输入文字转换语音
    <textarea cols="30" rows="10"></textarea>
    <video src="">
        
    </video>

</body>
</html>